@media only screen and (max-width: 1024px) {
    :root {
        --containerPeding: 15px;
    }

    html {
        font-size: 14px;
    }


    header {
        padding: 0 16px;
    }

    .right-panel nav {
        gap: 10px;
    }

    .right-panel>a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-banner h2 {
        font-size: 2rem;
        left: 16px;
        bottom: 18px;
        max-width: 100%;
    }

    .container,
    .third-section .wrapper,
    .forth-section .content-wrapper,
    footer .texts-box,
    .container-peding .footer-download-links, .container-fourth-section .content-wrapper, .container-peding-third-section .wrapper {
        flex-direction: column;
    }

}