@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }


    header {
        padding: 0 16px;
    }

    .right-panel nav {
        gap: 10px;
    }

    .right-panel>a {
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-banner h2 {
        font-size: 2rem;
        left: 16px;
        bottom: 18px;
        max-width: 100%;
    }

    .customers-support {
        flex-direction: column;
    }

}