body {
    font-family: "Montserrat-Regular";
    color: black;
}


.layout {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    max-width: 1440px;
    width: 100%;
    height: 78px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 1000;
}

header .logo {
    display: flex;
    align-items: center;
}


header .right-panel {
    display: flex;
    align-items: center;
}


header .right-panel nav {
    display: flex;
    gap: 24px;
    font-family: "Montserrat-Bold";
    font-size: 0.8rem;
}

header .right-panel>a {
    margin-left: 32px;
    margin-right: 12px;
}

header .right-panel a:hover {
    text-decoration: underline;
    color: var(--primary);
    transition: 0.2s;
}

/* first section */

.main-banner {
    position: relative;
    margin: 80px 0 0 0;
}

.main-banner img {
    width: 100%;
}

.main-banner h2 {
    position: absolute;
    bottom: 18px;
    left: 58px;
    color: white;
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    max-width: 60%;
}

/* second section */

.container-peding .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 24px;
    margin-top: 48px;
}

.container-peding .container .content {
    padding-top: 48px
}

.container-peding .container .content .text-left {
    background-color: var(--secondary);
    border-radius: 36px;
    padding: 4px 8px;
    color: var(--primary);
    font-size: 0.75rem;
    font-family: "Montserrat-Medium"
}

.container-peding .container .content .header-text {
    display: flex;
    gap: 15px;
    margin-top: 4px;
}

.container-peding .container .content .header-text div {
    font-size: 2.5rem;
    font-family: "Montserrat-ExtraBold";
}

.container-peding .container .content .main-text {
    font-family: "Montserrat-Light";
    margin: 32px 0;
}

.container-peding .container .content a button {
    width: 166px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    color: var(--primary);
    cursor: pointer;
}

.container-peding .container .content a button:hover {
    background-color: var(--primary10);
    transition: 0.4s;
}

.container-peding .container .content a i {
    color: var(--primary);
    margin: 0 8px;
}

.container-peding .container .ship {
    width: 40.5rem;
    height: 100%;
    border-radius: 8px;
}

/* third section */

.container-peding-third-section {
    display: flex;
    justify-content: center;
}

.container-peding-third-section .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1320px;
    margin: 48px 0;
    gap: 24px;
    background-color: #2B353A;
    border-radius: 33px;
    padding: 24px 24px;
}

.container-peding-third-section .wrapper>.item {
    flex: 1;
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-peding-third-section .wrapper .item div {
    color: white;
}

/* fourth section */

.container-fourth-section .content-wrapper {
    display: flex;
    width: 100%;
    max-width: 1440px;
    padding: 0 48px;
    gap: 48px;
}

.container-fourth-section .content-wrapper .banner-place {
    flex: 1;
}

.container-fourth-section .content-wrapper .banner-place img {
    width: 685px;
    height: 423px;
    border-radius: 8px;
}

.container-fourth-section .content-wrapper .action-area {
    flex: 1;
}

.container-fourth-section .content-wrapper .action-area .title {
    display: flex;
    align-items: center;
}

.container-fourth-section .content-wrapper .action-area .box {
    width: 16px;
    height: 16px;
    background-color: var(--primary);
}

.container-fourth-section .content-wrapper .action-area .text {
    font-family: "Montserrat-Medium";
}

.container-fourth-section .content-wrapper .action-area .message {
    font-size: 2rem;
    font-family: "Montserrat-Bold";
    margin: 16px 0;
}

.container-fourth-section .content-wrapper .action-area .description {
    width: 100%;
    font-size: 14px;
}

.container-fourth-section .content-wrapper .action-area .header-text {
    font-family: "Montserrat-Bold";
    font-size: 24px;
}

.container-fourth-section .content-wrapper .action-area .countries-drop-down {
    position: relative;
    width: 320px;
    margin: 24px 0;
}

.container-fourth-section .content-wrapper .action-area .countries-drop-down .selected-option {
    width: 100%;
    height: 44px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #BFBFCD;
    border-radius: 4px;
    cursor: pointer;
}

.container-fourth-section .content-wrapper .action-area .countries-drop-down .selected-option .country-name {
    font-size: 1rem;
}


/* we need JavaScript for functionality */

/* .container-fourth-section .content-wrapper .action-area .countries-drop-down .options {
    width: 81%;
    height: 254px;
    border: 1px solid #C7C7D3;
    border-radius: 8px;
    overflow-y: scroll;
}

.options::-webkit-scrollbar {
    width: 6px;
    background: #E1E1E1;
    -webkit-border-radius: 8px;
}

.options::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 8px;
}

.container-fourth-section .content-wrapper .action-area .countries-drop-down .option {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    padding: 6px 0 6px 16px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.container-fourth-section .content-wrapper .action-area .countries-drop-down .option:hover {
    background-color: var(--primary50);
}

.container-fourth-section .content-wrapper .action-area .countries-drop-down .option .name {
    color: #32315E;
    font-family: "Montserrat-Medium";
} */

.customers-support .header-text {
    font-family: "Montserrat-Bold";
    font-size: 24px;
}

/* email area */

.container-fourth-section .content-wrapper .action-area .email-area {
    height: 68px;
    display: flex;
}

.container-fourth-section .content-wrapper .action-area .email-area .email-wrapper {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 181, 108, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0 8px 0;
}

.container-fourth-section .content-wrapper .action-area .email-area .email-wrapper .logo {
    width: 1.14rem;
    height: 14px;
}

.container-fourth-section .content-wrapper .action-area .email-area .texts {
    margin: 15px 20px;
}

.container-fourth-section .content-wrapper .action-area .email-area .texts .header {
    font-family: "Montserrat-SemiBold";
    font-size: 12px
}

.container-fourth-section .content-wrapper .action-area .email-area .texts .main-text {
    margin: 8px 0;
    font-family: "Montserrat-Light";
    font-size: 14px
}

/* location area */

.container-fourth-section .content-wrapper .action-area .location-area {
    display: flex;
}

.container-fourth-section .content-wrapper .action-area .location-area .location-wrapper {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 181, 108, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fourth-section .content-wrapper .action-area .location-area .location-wrapper .logo {
    width: 1.14rem;
    height: 14px;
}

.container-fourth-section .content-wrapper .action-area .location-area .texts {
    margin: 0 20px;
}

.container-fourth-section .content-wrapper .action-area .location-area .texts .header {
    font-family: "Montserrat-SemiBold";
    font-size: 12px
}

.container-fourth-section .content-wrapper .action-area .location-area .texts .main-text {
    margin: 8px 0;
    font-family: "Montserrat-Light";
    font-size: 14px;
}

/* contact area */

.container-fourth-section .content-wrapper .action-area .contact-area {
    display: flex;
    margin: -104px 10px;
    float: right;
}

.container-fourth-section .content-wrapper .action-area .contact-area .contact-wrapper {
    width: 48px;
    height: 48px;
    background-color: rgba(0, 181, 108, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fourth-section .content-wrapper .action-area .contact-area .contact-wrapper .logo {
    width: 1.14rem;
    height: 14px;
}

.container-fourth-section .content-wrapper .action-area .contact-area .texts {
    margin: 0 20px;
}

.container-fourth-section .content-wrapper .action-area .contact-area .texts .header {
    font-family: "Montserrat-SemiBold";
    font-size: 12px
}

.container-fourth-section .content-wrapper .action-area .contact-area .texts .main-text {
    margin: 8px 0;
    font-family: "Montserrat-Light";
    font-size: 14px;
}

/* button area */

.container-fourth-section .content-wrapper .action-area .custumer-support-button {
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    margin: 30px 0;
    font-family: "Montserrat-Medium";
    cursor: pointer;
}


/* footer part */

footer {
    background-image: url('../images/photos/footer_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    background-size: 100% 100%;
    width: 100%;
    height: 375px;
    margin-top: 24px;
}

.container-peding .bottom-wrapper {
    display: flex;
    padding: 24px 0 4px 0;
    gap: 40px;
}

.container-peding .bottom-wrapper .logo {
    display: flex;
    align-items: center;
    margin: 0 50px 0 0;
}

.container-peding .bottom-wrapper .texts-area {
    width: 100%;
}

.container-peding .bottom-wrapper .texts-area a .header {
    color: white;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 8px 0;
}

.container-peding .bottom-wrapper .texts-area .text {
    color: white;
    font-family: "Montserrat-Medium";
    line-height: 24px;
    margin: 4px 0;
}

.container-peding .bottom-wrapper .texts-area .text:hover {
    color: var(--primary);
    transition: 0.4s;
}

.container-peding .bottom-wrapper .texts-area .texts-wrapper {
    max-width: 180px;
    width: 100%;
}

.container-peding .bottom-wrapper .texts-area .texts-wrapper a .text {
    max-width: 180px;
    width: 100%;
}

.container-peding .bottom-wrapper .authorization-area {
    gap: 0px;
}

.container-peding .bottom-wrapper .authorization-area .header {
    font-family: "Montserrat-Bold";
    color: white;
    font-size: 24px;
    padding: 0 0 16px 0;
}

.container-peding .bottom-wrapper .authorization-area input {
    width: 300px;
    height: 44px;
    border-radius: 4px;
    padding: 10px 12px;
    border: 1px solid var(--secondary);
}

.container-peding .bottom-wrapper .authorization-area a .btn-primary {
    margin: 16px 0;
}

.container-peding .bottom-wrapper .authorization-area a .btn-primary:hover {
    transition: 0.4s;
    background-color: rgb(48, 144, 48);
}

.container-peding .media-resources {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
}

.container-peding .line {
    height: 1px;
    width: 100%;
    margin: 24px 0;
}

.container-peding .copyright {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

.container-peding .copyright .bottom-right-language {
    display: flex;
    color: white;
    gap: 4px;
}

.container-peding .copyright .text {
    font-family: "Montserrat-Medium";
    font-size: 12px;
}