body {
    font-family: "Montserrat-Regular";
    color: black;
}


.layout {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 78px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
}


.right-panel {
    display: flex;
    align-items: center;
}


.right-panel nav {
    display: flex;
    gap: 24px;
    font-family: "Montserrat-Bold";
    font-size: 0.8rem;
}

.right-panel>a {
    margin-left: 32px;
    margin-right: 12px;
}

.main-banner {
    position: relative;
}

.main-banner img {
    width: 100%;
}

.main-banner h2 {
    position: absolute;
    bottom: 18px;
    left: 58px;
    color: white;
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    max-width: 60%;
}

/* second section */

.future-soloutions-place {
    display: flex;
    width: 82.5rem;
    height: 380px;
    justify-content: space-between;
    gap: 24px;
    margin: 48px 48px 48px 48px;
}

.future-soloutions {
    background-color: var(--primary4);
    height: 23px;
    width: 18rem;
    border-radius: 36px;
    margin: 48px 16px 48px 0;
}

.future-soloutions .text {
    font-size: 0.75rem;
    color: var(--primary);
    padding: 4px 8px 4px 8px;
    font-size: 0.75rem;
    font-family: "Montserrat-Medium"
}

.future-soloutions .header-text {
    display: flex;
    width: 40.5rem;
    height: 49px;
    gap: 15px;
    margin: 4px 0 32px 0;
}

.future-soloutions .header-text div{
    font-size: 2.5rem;
    font-family: "Montserrat-ExtraBold";
}

.future-soloutions .header-text .green-word {
    color: var(--primary);
}

.main-text {
    font-size: 1rem;
    font-family: "Montserrat-Light";
    line-height: 20px;
    gap: 1.5rem;
    width: 40.5rem;
    height: 100px;
}

.btn-future-soloutions {
    margin: 32px 0 0 0;
    width: 10.3rem;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    background-color: white;
    color: var(--primary);
    font-size: 1rem;
    gap: 8px;
    font-family: "Montserrat-Light";
    cursor: pointer;
}

.future-soloutions a i {
    color: var(--primary);
    height: 16px;
    width: 1rem;
    margin: 0 0 0 8px;
}

.ship {
    width: 40.5rem;
    height: 100%;
    border-radius: 8px;
}

/* third section */

.central-placed-information {
    display: flex;
    width: 82.5rem;
    height: 248px;
    margin: 0 60px 0 60px;
    gap: 24px;
    background-color: #2B353A;
    border-radius: 33px;
    padding: 48px 24px 48px 24px;
}

.central-placed-information div {
    width: 25.25rem;
    height: 160px;
    gap: 12px;
}

.central-placed-information div img {
    width: 3.5rem;
    height: 48px;
    color: var(--primary);
    margin: 0 0 0 160px;
}

.central-placed-information div .header {
    width: 25.25rem;
    height: 24px;
    gap: 4px;
    font-family: "Montserrat-SemiBold";
    font-size: 20px;
    color: white;
    margin: 16px 0 12px 80px;
}

.central-placed-information div .main-text {
    align-items: center;
    width: 25.25rem;
    height: 60px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Montserrat-Medium";
    color: #E1E1E1;
    display: flex;
    justify-content: center;
    margin: 0 12px 0 12px;
}

/* forth section */

.customers-support {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin: 48px 48px 48px 48px;
}

.customers-support .banner-place {
    flex: 1;
}

.customers-support .banner-place img {
    width: 100%;
    height: 100%;
}

.customers-support .action-area {
    flex: 1;
}

.customers-support .action-area .title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.customers-support .action-area .box {
    width: 12px;
    height: 12px;
    background-color: var(--primary);
}

.customers-support .action-area .text {
    font-size: 1rem;
    font-family: "Montserrat-Medium";
}

.customers-support .action-area .message {
    font-size: 2rem;
    font-family: "Montserrat-Bold";
    margin: 16px 0 11px 0px;
}

.customers-support .action-area .description {
    font-size: 0.87rem;
}

.countries-drop-down {
    margin-top: 24px;
    position: relative;
    width: 320px;
}

.countries-drop-down .selected-option {
    width: 100%;
    height: 44px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #BFBFCD;
    border-radius: 4px;
    cursor: pointer;
}

.countries-drop-down .selected-option .country-name {
    font-size: 1rem;
}

.countries-drop-down .options {
    width: 81%;
    height: 254px;
    border: 1px solid #C7C7D3;
    border-radius: 8px;
    overflow-y: scroll;
}

.options::-webkit-scrollbar {

    width: 6px;
    background: #E1E1E1;
    -webkit-border-radius: 8px;
}

.options::-webkit-scrollbar-thumb {
    background: #393812;
    -webkit-border-radius: 8px;
}

.countries-drop-down .option {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    padding: 6px 0 6px 16px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.countries-drop-down .option:hover {
    background-color: var(--primary50);
}

.countries-drop-down .option .name {
    color: #32315E;
    font-family: "Montserrat-Medium";
}

.header-text {
    width: 9.75rem;
    height: 29px;
    gap: 10px;
    font-family: "Montserrat-Bold";
    font-size: 24px;
    margin: 24px 0px 12px 12px;
}

/* section of mail */

.mail-info {
    display: flex;
}

.box-of-mail-logo {
    width: 3rem;
    height: 48px;
    background-color: rgba(0, 181, 108, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mail-logo {
    width: 1.14rem;
    height: 14px;
    color: var(--primary);
}

.mail-info .texts .header {
    width: 4.5rem;
    height: 15px;
    margin: 2.5px 0px 8px 19px;
    font-family: "Montserrat-SemiBold";
    font-size: 12px
}

.mail-info .texts .main-text {
    width: 7.8rem;
    height: 20px;
    margin: 0px 0px 2.5px 19px;
    font-family: "Montserrat-Light";
    font-size: 12px
}

/* section of location */

.location-info {
    display: flex;
    margin: 8px 0 0 0;
}

.box-of-location-logo {
    width: 3rem;
    height: 48px;
    background-color: rgba(0, 181, 108, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location-logo {
    width: 1.14rem;
    height: 14px;
    color: var(--primary);
}

.location-info .texts .header {
    width: 6rem;
    height: 15px;
    margin: 2.5px 0px 8px 19px;
    font-family: "Montserrat-SemiBold";
    font-size: 12px
}

.location-info .texts .main-text {
    width: 10.2rem;
    height: 20px;
    margin: 0px 0px 2.5px 19px;
    font-family: "Montserrat-Light";
    font-size: 14px
}

/* section of contact */

.contact-info {
    display: flex;
    margin: -105px 0 0px 330px;
}

.box-of-contact-logo {
    width: 3rem;
    height: 48px;
    background-color: rgba(0, 181, 108, 0.1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-logo {
    width: 1.14rem;
    height: 14px;
    color: var(--primary);
}

.contact-info .texts .header {
    width: 7.6rem;
    height: 15px;
    margin: 2.5px 0px 8px 19px;
    font-family: "Montserrat-SemiBold";
    font-size: 12px
}

.contact-info .texts .main-text {
    width: 7.1rem;
    height: 18px;
    margin: 4px 0px 2.5px 19px;
    font-family: "Montserrat-Light";
    font-size: 14px
}

.custumer-support-button {
    height: 32px;
    width: 9.7rem;
    background-color: var(--primary);
    color: white;
    border-radius: 4px;
    gap: 8px;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
    margin: 136px 0 0 -520px;
    font-family: "Montserrat-Medium";
    cursor: pointer;
}

/* footer part */

footer .bottom-area {
    width: 100%;
    height: 375px;
    position: absolute;
}

footer .footer_logo {
    position: absolute;
    display: flex;
    width: 11rem;
    height: 48px;
    margin: 24px 0 0 48px;
}

footer .bottom-service {
    position: absolute;
    color: white;
    margin: 24px 0 0 270px;
}

footer .bottom-service .header {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    width: 6rem;
    height: 29px;
    gap:10px;
    margin: 0 0 14px 0;
}

footer .bottom-service .text {
    font-family: "Montserrat-Regular";
    height: 24px;
    gap: 8px;
    width: 7rem;
    font-size: medium;
    margin: 2px 0 2px 0;
}

footer .bottom-company-infos {
    position: absolute;
    color: white;
    margin: 24px 0 0 565px;
}

footer .bottom-company-infos .header {
    font-family: "Montserrat-Bold";
    font-size: 24px;
    width: 6rem;
    height: 29px;
    gap:10px;
    margin: 0 0 14px 0;
}

footer .bottom-company-infos .text {
    font-family: "Montserrat-Regular";
    height: 24px;
    gap: 8px;
    width: 12rem;
    font-size: 16px;
    margin: 2px 0 2px 0;
}

footer .registration-area {
    position: absolute;
    width: 19rem;
    height: 141px;
    gap: 12px;
    margin: 24px 0 0 1080px;
}

footer .registration-area .header {
    color: white;
    width: 12rem;
    height: 33px;
    gap: 4px;
    font-size: 24px;
    font-family: "Montserrat-Bold";
}

footer .registration-area input {
    width: 19rem;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #A8ACAE;
    color: #A8ACAE;
    font-size: 16px;
    padding: 0 0 0 8px;
    font-family: "Montserrat-Medium";
    margin: 16px 0 16px 0;
}

footer .registration-area button {
    background-color: var(--primary);
    width: 19rem;
    height: 40px;
    border-radius: 4px;
    gap: 8px;
    font-size: medium;
    font-family: "Montserrat-Medium";
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

footer .footer-download-links {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin: 230px 0 0 0;
}

footer .footer-download-links .logos {
    display: flex;
    width: 6.6rem;
    height: 24px;
    gap: 24px;
    margin: 8px 0 0 48px;
}

footer .footer-download-links .logos img {
    width: 1.5rem;
    height: 24px;
    color: white;
}

footer .footer-download-links .download-links {
    display: flex;
    gap: 32px;
    width: 16rem;
    height: 40px;
    margin: -32px 32px 0 1080px;
}

footer hr {
    position: absolute;
    width: 100%;
    height: 1px;
    color: #4F575B;
    margin: 300px 0 0 0;
}

footer .last-part {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    margin: 330px 0 0 0;
}

footer .last-part .text {
    display: flex;
    align-items: center;
    color: #EAEBEB;
    margin: 0 0 0 48px;
}

footer .last-part .bottom-right-language {
    display: flex;
    align-items: center;
    color: white;
    margin: -20px 0 0 1300px;
    gap: 4px;
}

footer .last-part .bottom-right-language img {
    width: 1.25rem;
    height: 20px;
    color: white;
}

